body{
    background-color: bisque;
}

p {
    text-align: center;
    font-size: 200%;
    background-color: azure;
    padding: 20px;
    border-radius: 5px;
    margin: 0px;
    font-style: ;

}